@using ssoCommon;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div><a target="_self" href="@($"{ConfigOption.DefaultConfig.CenterDomain}/sso/logout?jumpUrl={ConfigOption.DefaultConfig.CurrentDomain}")">退出</a></div>
<h3>欢迎 @ViewBag.User.Account,你终于登入进来了.</h3>


