@{
    ViewData["Title"] = "Home Page";
}

@section head1{
    <link rel="prerender" href="https://lssocenter.com:6220/sso/jsonp?callback=show1&token=fff" />
}

 
<div class="text-center">

    <h3><a href="/client/main" target="_self">进入会员中心</a></h3>
</div>
 
